body {
    width: 100vw;
    height: 100vh;
    background: rgb(169, 231, 232);
    background: -moz-linear-gradient(158deg, rgba(169, 231, 232, 1) 0%, rgba(65, 155, 217, 1) 100%);
    background: -webkit-linear-gradient(158deg, rgba(169, 231, 232, 1) 0%, rgba(65, 155, 217, 1) 100%);
    background: linear-gradient(158deg, rgba(169, 231, 232, 1) 0%, rgba(65, 155, 217, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a9e7e8", endColorstr="#419bd9", GradientType=1);
}